@page
@using HesapMakinesi.Models;
@using System.Security.Claims;
@using HesapMakinesi.VM;
@model HesapMakinesi.Pages.AdminModel
@{
    string userName = HttpContext.User.FindFirstValue(ClaimTypes.Name);
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.37/dist/sweetalert2.min.css" />
<h1>Hello This is @userName Panel</h1>
<div class="row text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>işlem Id</th>
                <th>1.Sayı</th>
                <th>2.Sayı</th>
                <th>Sonuc</th>
            </tr>

        </thead>
        <tbody>

            @if (Model.AdminMathListVM.Any())
            {
                @foreach (AdminMathListVM mat in Model.AdminMathListVM)
                {
                    <tr>
                        <td>
                            @mat.UserName
                        </td>
                        <td>
                            @mat.MathId
                        </td>
                        <td>
                            @mat.Sayi1
                        </td>
                        <td>
                            @mat.Sayi2
                        </td>
                        <td>
                            @mat.Sonuc
                        </td>
                        <td>
                            <a class="btn btn-danger me-3 cursor-pointer deleteAction" data-id="@mat.MathId"> Sil </a>
                        </td>
                    </tr>
                }
            }
            else
            {

                <tr>
                    <td colspan="4" style="text-align:center;">
                        data yok
                    </td>
                </tr>
            }


        </tbody>
    </table>
    @Html.AntiForgeryToken()

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/limonte-sweetalert2/sweetalert2.all.js"></script>
<script src="~/limonte-sweetalert2/sweetalert2.all.min.js"></script>
<script src="~/js/deleted.js"></script>
